td {
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

tr {
  border: 1px solid black;
  width: 10px;
  height: 10px;
}
table {
  border: 1px solid black;
}
html {
  box-sizing: border-box;
  background-color: #0f0f6e;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 0 20px #000;
}
.header {
  color: #27e900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.header_image {
  width: 324px;
  height: 50px;
}
.main-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.play {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 320px;
  height: 50px;
}
.replay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 320px;
  height: 50px;
}
.control-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 320px;
  height: 50px;
  border: 3px solid black;

  box-shadow: 0 0 20px #000;
}

.control-panel__button {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #0f0f6e;
  background-color: #27e900;
  width: 100px;
  height: 30px;
  border: 3px solid #03022e;
  transition: 1s;
}

.control-panel__button-random {
  font-size: 13px;
}
.control-panel__button:hover {
  background-color: #0a3302;
  color: #fff;
}

td.alive {
  background-color: #27e900;
}

td.dead {
  background-color: #03022e;
}

.alive {
  background-color: #27e900;
}

.dead {
  background-color: #03022e;
}
